@model SHU.Arts.Arts
@using (Html.BeginForm())
{

}
<a href="#">
    <div class="byz"></div>
</a>
<a href="#">
    <div class="hj">
    </div>
</a>
<a href="#">
    <div class="sbzp">
    </div>
</a>

<a href="#">
    <div class="djs"></div>
</a>
<a href="#">
    <div class="jcxy">
    </div>
</a>
<a href="#">
    <div class="jsjs">
    </div>
</a>

<script type="text/javascript">
    document.getElementById("Index").style.backgroundColor = "#EF7919"; 
</script>
