@model IEnumerable<SHU.Web.Models.ArtModel>
@{
    Layout = "~/Views/Shared/_QueryLayout.cshtml";
}
@{
    if (Model.Count() == 0)
    {
    @Html.Label("没有数据");
    }
    else
    {
    <div id="container" style="width: 600px; margin-left: auto; margin-right: auto">
        <div id="gallery" class="ad-gallery">
            <div>
                <div class="ad-image-wrapper" style="border-width: 10px; border-color: Gray; background-color: Red;
                    border-style: solid;">
                </div>
                <div class="ad-controls">
                </div>
            </div>
                    <div id="descriptions">
        </div>
            <div class="ad-nav">
                <div class="ad-thumbs">
                    <ul class="ad-thumb-list">
                        @foreach (var item in Model)
                        {
                            <li><a href="@item.ZuoPinLuJing#">
                                <img src="@item.ZuoPinLuJing2" alt="" title="@item.ZuoPinMingCheng"/>
                            </a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>

    </div>
    }
}
