 <link href="@Url.Content("~/Content/styles.css")" rel="stylesheet" type="text/css" />
@{
    <table cellpadding="0" cellspacing="0" border="0" id="kechengbiao" align="center"
        width="80%">
        <tr>
            <td>
            </td>
            <td colspan="5" style="background-color: #312829;">
                <select id="jie" name="jie">
                    @{
                        for (int i = 1990; i <= 2011; i++)
                        {
                        <option id=@i.ToString() value="@i.ToString()">@i.ToString()</option>
                        }
                    }
                </select>
                届
            </td>
        </tr>
        <tr>
            <td style="padding: 0px !important;">
                <img src=@Url.Content("~/Content/D1.png") alt="" title="123"/>
            </td>
            <td class="tdclass">
                <span>秋</span>
            </td>
            <td colspan="2" class="tdclass button">
                <p>
                    <a href="/Arts/KCQuery?jie={0}&kc=smzx1"><span>数码造型1</span></a></p>
            </td>
            <td colspan="2" class="tdclass tdright button">
                <p>
                    <a href="/Arts/KCQuery?jie={0}&kc=smsc1"><span>数码色彩1</span></a></p>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td class="tdclass">
                <span>冬</span>
            </td>
            <td class="tdclass button">
                <p>
                    <a href="/Arts/KCQuery?jie={0}&kc=smzx21"><span>数码造型2.1</span></a></p>
            </td>
            <td class="tdclass button">
                <p>
                    <a href="/Arts/KCQuery?jie={0}&kc=smsc21"><span>数码色彩2.1</span></a></p>
            </td>
            <td colspan="2" class="tdclass tdright button">
                <p>
                    <a href="/Arts/KCQuery?jie={0}&kc=sx1"><span>摄像1</span></a></p>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td class="tdclass">
                <span>春</span>
            </td>
            <td class="tdclass button">
                <p>
                    <a href="/Arts/KCQuery?jie={0}&kc=smzx22"><span>数码造型2.2</span></a></p>
            </td>
            <td class="tdclass button">
                <p>
                    <a href="/Arts/KCQuery?jie={0}&kc=smsc22"><span>数码色彩2.2</span></a></p>
            </td>
            <td class="tdclass button">
                <p>
                    <a href="/Arts/KCQuery?jie={0}&kc=sx2"><span>摄像2</span></a></p>
            </td>
            <td class="tdclass tdright button">
                <p>
                    <a href="/Arts/KCQuery?jie={0}&kc=ta1"><span>图案1</span></a></p>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td class="tdclass">
                <span>夏</span>
            </td>
            <td class="tdclass button">
                <p>
                    <a href="/Arts/KCQuery?jie={0}&kc=czsj1"><span>创作实践1</span></a></p>
            </td>
            <td class="tdclass button">
                <p>
                    <a href="/Arts/KCQuery?jie={0}&kc=waxz1"><span>文案写作1</span></a></p>
            </td>
            <td colspan="2" class="tdclass tdright">
            </td>
        </tr>
        <tr>
            <td style="padding: 0px !important;">
                <img src=@Url.Content("~/Content/D2.png") alt="" title="123"/>
            </td>
            <td class="tdclass">
                <span>秋</span>
            </td>
            <td class="tdclass button">
                <p>
                    <a href="/Arts/KCQuery?jie={0}&kc=smzx23"><span>数码造型2.3</span></a></p>
            </td>
            <td class="tdclass button">
                <p>
                    <a href="/Arts/KCQuery?jie={0}&kc=smsc23"><span>数码色彩2.3</span></a></p>
            </td>
            <td colspan="2" class="tdclass tdright button">
                <p>
                    <a href="/Arts/KCQuery?jie={0}&kc=smgc1"><span>数码构成1</span></a></p>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td class="tdclass">
                <span>冬</span>
            </td>
            <td class="tdclass button">
                <p>
                    <a href="/Arts/KCQuery?jie={0}&kc=smgc2"><span>数码构成2</span></a></p>
            </td>
            <td class="tdclass button">
                <p>
                    <a href="/Arts/KCQuery?jie={0}&kc=ta2"><span>图案2</span></a></p>
            </td>
            <td class="tdclass button">
                <p>
                    <a href="/Arts/KCQuery?jie={0}&kc=sx3"><span>摄像3</span></a></p>
            </td>
            <td class="tdclass tdright button">
                <p>
                    <a href="/Arts/KCQuery?jie={0}&kc=smbx1"><span>数码表现1</span></a></p>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td class="tdclass">
                <span>春</span>
            </td>
            <td class="tdclass button">
                <p>
                    <a href="/Arts/KCQuery?jie={0}&kc=smgc3"><span>数码构成3</span></a></p>
            </td>
            <td class="tdclass button">
                <p>
                    <a href="/Arts/KCQuery?jie={0}&kc=smys1"><span>数码印刷1</span></a></p>
            </td>
            <td class="tdclass button">
                <p>
                    <a href="/Arts/KCQuery?jie={0}&kc=scyx"><span>市场营销</span></a></p>
            </td>
            <td class="tdclass tdright button">
                <p>
                    <a href="/Arts/KCQuery?jie={0}&kc=smbx2"><span>数码表现2</span></a></p>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td class="tdclass">
                <span>夏</span>
            </td>
            <td class="tdclass button">
                <p>
                    <a href="/Arts/KCQuery?jie={0}&kc=czsj2"><span>创作实践2</span></a></p>
            </td>
            <td class="tdclass button">
                <p>
                    <a href="/Arts/KCQuery?jie={0}&kc=xs1"><span>写生1</span></a></p>
            </td>
            <td colspan="2" class="tdclass tdright">
            </td>
        </tr>
        <tr>
            <td style="padding: 0px !important;">
                <img src=@Url.Content("~/Content/D3.png") alt="" title="123" />
            </td>
            <td class="tdclass">
                <span>秋</span>
            </td>
            <td class="tdclass button">
                <p>
                    <a href="/Arts/KCQuery?jie={0}&kc=wl1"><span>网络1</span></a></p>
            </td>
            <td class="tdclass button">
                <p>
                    <a href="/Arts/KCQuery?jie={0}&kc=smbx3"><span>数码表现3</span></a></p>
            </td>
            <td colspan="2" class="tdclass tdright button">
                <p>
                    <a href="/Arts/KCQuery?jie={0}&kc=smys2"><span>数码印刷2</span></a></p>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td class="tdclass">
                <span>冬</span>
            </td>
            <td class="tdclass button">
                <p>
                    <a href="/Arts/KCQuery?jie={0}&kc=smsx"><span>数码声效</span></a></p>
            </td>
            <td class="tdclass button">
                <p>
                    <a href="/Arts/KCQuery?jie={0}&kc=mtcz"><span>媒体创作</span></a></p>
            </td>
            <td colspan="2" class="tdclass tdright button">
                <p>
                    <a href="/Arts/KCQuery?jie={0}&kc=bzycis"><span>标志与CIS</span></a></p>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td class="tdclass">
                <span>春</span>
            </td>
            <td class="tdclass button">
                <p>
                    <a href="/Arts/KCQuery?jie={0}&kc=wl2"><span>网络2</span></a></p>
            </td>
            <td class="tdclass button">
                <p>
                    <a href="/Arts/KCQuery?jie={0}&kc=sjhj"><span>视觉环境</span></a></p>
            </td>
            <td class="tdclass button">
                <p>
                    <a href="/Arts/KCQuery?jie={0}&kc=zssj"><span>展示设计</span></a></p>
            </td>
            <td class="tdclass tdright button">
                <p>
                    <a href="/Arts/KCQuery?jie={0}&kc=sy"><span>摄影</span></a></p>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td class="tdclass">
                <span>夏</span>
            </td>
            <td class="tdclass button">
                <p>
                    <a href="/Arts/KCQuery?jie={0}&kc=czsj2"><span>创作实践2</span></a></p>
            </td>
            <td class="tdclass button">
                <p>
                    <a href="/Arts/KCQuery?jie={0}&kc=txyy"><span>图形语意</span></a></p>
            </td>
            <td colspan="2" class="tdclass tdright">
            </td>
        </tr>
    </table>
}
<script type="text/javascript">
    $(document).ready(function () {
        $('.otherbutton,.homebutton,.downloadbutton,.donatebutton,.button').append('<span class="hover"></span>').each(function () {
            var $span = $('> span.hover', this).css('opacity', 0);
            $(this).hover(function () {
                $span.stop().fadeTo(500, 1);
            }, function () {
                $span.stop().fadeTo(500, 0);
            });
        });
        $("#jie").change(function () {
            var mp = $("#jie").val();
            

            $("#kechengbiao").find("a").each(function () {
                var newhref = $(this).attr("href");
                var mm = newhref.replace("{0}", mp);
                
                $(this).attr("href", mm);
            });


        });


    });
	
	
</script>

