<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="SHU.Arts.Properties.Settings.MPTESTConnectionString" connectionString="Data Source=.;Initial Catalog=MPTEST;Persist Security Info=True;User ID=sa;Password=Mp5917Mp5917" providerName="System.Data.SqlClient" />
    <add name="Model1Container" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=MPTEST;persist security info=True;user id=sa;password=Mp5917Mp5917;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>